.mainWindow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(150, 150, 160);
  background-image: url("../files/Screenshot from 2020-07-19 19-48-12.png");
  background-position: center;
}

.backgroundContainer {
  margin-top: -20px;
  width: 120%;
  height: 120%;
  background-image: url("../files/Screenshot from 2020-07-19 19-48-12.png");
  background-position: center;
}

.mainWindowContainer {
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.sectionDiv {
  position: relative;
  display: inline-block;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  height: 80%;
  width: 98%;
}

.sectionDivMobileMarginTop {
  margin-top: -18%;
}

.centralDiv {
  position: relative;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}

.innerDiv {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 90%;
  width: 80%;

  text-align: center;
  font-weight: bold;
  color: rgb(40, 40, 44);

  overflow: auto;
}

.conatiningDiv {
  text-align: center;
  width: 98%;
}

.arrowLeft {
  display: inline-block;
  vertical-align: middle;
  width: 5%;
  margin-top: 5%;
  margin-right: 3%;
  font-size: 5em;
  font-weight: 500;
  color: rgb(50, 50, 55);
}

.arrowLeft:hover {
  color: rgb(200, 200, 210);
  font-weight: 700;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.arrowRight {
  display: inline-block;
  vertical-align: middle;
  width: 5%;
  margin-top: 5%;
  margin-right: 3%;

  font-size: 5em;
  font-weight: 500;
  color: rgb(50, 50, 55);
}

.arrowRight:hover {
  color: rgb(200, 200, 210);
  font-weight: 700;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.scroller {
  min-height: 90%; /* e.g. */
  max-height: 90%; /* e.g. */
  max-width: 75%;
  min-width: 75%;
  overflow: hidden;
}

.title {
  font-size: 40px;
  font-weight: 900;
}

.secondaryTitle {
  font-size: 30px;
  font-weight: 600;
}

.paragraph {
  text-align: justify;
  font-size: 20px;
  font-weight: 700;
}

.bottomDiv {
  min-height: 50%;
}

.listItem {
  text-align: justify;
  font-size: 20px;
  font-weight: 650;
}

.listItemNoBullet {
  text-align: justify;
  font-size: 20px;
  font-weight: 650;
  list-style: none;
}

.sameLineListItem {
  display: inline;
  margin-left: 15px;
}

.navBar {
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  top: 0px;
  border-radius: 0 !important;
  background-color: rgb(20, 20, 25);
}

.bottomNavBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(20, 20, 25);
  text-align: right;
}

/*.buttonContainer {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 0px;
}*/

.toggleButton {
  position: fixed;
  margin-left: 87%;
  top: 1%;
  user-select: none;
}

.cornerIcon {
  user-select: none;
  margin-right: 10px;
  font-weight: 800;
  font-size: 20px;
  color: rgb(200, 200, 210);
  font-family: "Courier New";
  user-select: none;
}

.burgerButton {
  font-size: 20px;
  color: rgb(200, 200, 210);
  user-select: none;
}

/*.burgerButton:hover {
  transform: rotate(-90deg);
  transition-duration: 0.3s;
}*/

.navBarItem {
  position: relative;
  margin-left: 20px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(200, 200, 210);
  font-family: "Courier New";
  user-select: none;
}

.navBarItem:hover {
  font-weight: 900;
  font-size: 21px;
  color: rgb(240, 240, 250);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.selectedNavBarItem {
  position: relative;
  margin-left: 20px;
  font-weight: 900;
  font-size: 21px;
  color: rgb(240, 240, 250);
  font-family: "Courier New";
  user-select: none;
}

.selectedNavBarItem:hover {
  position: relative;
  margin-left: 20px;
  font-weight: 900;
  font-size: 21px;
  color: rgb(240, 240, 250);
  font-family: "Courier New";
  user-select: none;
}

.bottomNavBarItem {
  display: inline-flex;
  font-size: 20px;
  color: rgb(200, 200, 210);
  margin-right: 16px;
  margin-top: 6px;
  font-family: "Courier New";
}

.bottomNavBarItem:hover {
  cursor: pointer;
  font-size: 21px;
  color: rgb(90, 90, 97);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.cIcon {
  color: rgb(49, 49, 112);
}

.sameLineItems {
  display: inline-flex;
}

.progLSpaces {
  margin-left: 6px;
  margin-right: 15px;
}

.progListUL {
  align-items: center;
}

.unMarkedStar {
  color: rgb(100, 100, 110);
}

.customScrollbarDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgb(50, 50, 55);
  background-color: #f5f5f5;
}

.customScrollbarDiv::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

.customScrollbarDiv::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 55);
}

.swipeIcon {
  text-align: justify;
  margin-left: 3px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Courier New";
  width: 45%;
}
